#menu-top-section {
    color: white;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0e0e0e+0,606060+100 */
    background: rgb(14,14,14); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(30,30,30,1) 0%, rgba(96,96,96,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(30,30,30,1) 0%,rgba(96,96,96,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(30,30,30,1) 0%,rgba(96,96,96,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1E1E1E', endColorstr='#606060',GradientType=0 ); /* IE6-9 */
}

#menu-top-section .gw-menu-item:hover {
    cursor: pointer;
    background: linear-gradient(to top,  rgba(30,30,30,1) 0%,rgba(96,96,96,1) 100%);
}

#menu-top-section .gw-menu-item:active {
    background: none;
}

#title-section {
    background-color: #DDD;
}

/*
#title-section-column {
    width: 80%;
}
*/

#site-title {
    font-size: 70px;
    color: #0000AA;
    text-shadow: 2px 2px 5px #777;
}

.phrase {
    font-size: 40px;
    color: white;
    text-shadow: 2px 2px 5px #777;
}

#logo {
    max-width: 200px;
    max-height: 200px;
    margin: 20px;
    -webkit-filter: drop-shadow(2px 2px 5px #777);
    filter: url(#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=2, OffY=2, Color='#777')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=2, OffY=2, Color='#777')";
}




#menu-bottom-section {
    background-color: #1E1E1E;
    color: white;
}




.gw-menu,
.gw-menu-inline {
    margin: 0px;
}

.gw-menu-inline {
    
}

.gw-menu-item {
    font-size: 16px;
    margin: 6px;
    padding: 4px;
    border-radius: 3px;
}

.gw-menu .gw-menu-item {
    display: block;
}

.gw-menu-inline .gw-menu-item {
    display: inline-block;
}






.gw-column.gw-left-h {
    align-items: flex-start;
}

.gw-row.gw-left-h {
    justify-content: flex-start;
}

.gw-column.gw-center-h {
	align-items: center;
}

.gw-row.gw-center-h {
	justify-content: center;
}

.gw-column.gw-right-h {
	align-items: flex-end;
}

.gw-row.gw-right-h {
	justify-content: flex-end;
}

.gw-row {
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
}

.gw-column {
	display: flex;
	flex-direction: column;
}

.gw-fill {
	flex-basis: 100%;
}

.gw-box.no-padding {
	padding: 0px;
}

.gw-box.gw-box-no-margin {
	margin: 0px;
}

.gw-box-transparent {
	display: block;
	border-radius: 3px;
	padding: 10px;
}

.gw-box-transparent:hover {
	cursor: pointer;
	background-color: rgba(0,0,0,.2);
}